.DS_Store
.next
!.next/static
!.next/standalone

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

Dockerfile
.dockerignore
npm-debug.log
README.md

.git
