@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Google Sans Display';
  src: url('/font/Google-Sans/GoogleSans-Regular.ttf');
}

html {
  font-family: 'Noto Sans KR', 'Google Sans Display', sans-serif;
}
